
* {
    -fx-main-color: white;
    -fx-main-color-hovered: #f2f2f2;
    -fx-main-color-clicked: #d4d4d4;
    -fx-main-color-border: #4e4343;
    -fx-main-color-title: #00bbff;
    -fx-main-color-disabled: #cfcfcf;
    -fx-second-color:rgb(224, 224, 224);
    -fx-bkgnd:#fff;
	-fx-virtual-keyboard-button-color:rgb(235, 235, 235);
	-fx-transactional-main-color: linear-gradient(to top right, #e861b0, #c4438e);
	-fx-transactional-main-color-hover: linear-gradient(to top right, #d1569f, #b53881);
	-fx-transactional-main-color-clicked: linear-gradient(to top right, #bf478d, #a12b70);

    -fx-table-title-main-color:#0c1936;
    -fx-table-main-color: linear-gradient(#ffffff, #f0f0f0);
    -fx-table-main-color-hover: linear-gradient(#fdfdfd, #e3e3e3);
	-fx-title-window:  linear-gradient(to top right, #e861b0, #c4438e);

  }

  
  


.background {
   -fx-background-color:-fx-bkgnd;     
   -fx-border-color: -fx-main-color-border;
}




.footer{
     -fx-background-color: -fx-second-color;  
     
}

.main:focused{
	-fx-effect: dropshadow(two-pass-box , rgb(180, 180, 180), 10, 0.9 , 0, 0);     
}

.button{
   -fx-background-color: -fx-main-color;  
}

.button.main .label{
	    -fx-text-fill: #5e5e5e;
}
 

.button.main:hover{
    -fx-background-color: -fx-main-color-hovered; 
 }

 

.button.main:pressed{
    -fx-background-color: -fx-main-color-clicked; 
 }

.button.main:disabled{
	-fx-background-color:-fx-main-color-disabled;
}

.is-title{
	-fx-text-fill:-fx-main-color-title;
}


.table-view .column-header .label{
    
    -fx-text-fill:  -fx-table-title-main-color;
}

.table-view .column-header:hover {
    -fx-background-color: -fx-table-main-color-hover;
}

.table-view .column-header {
    -fx-background-color: -fx-table-main-color;
}

.table-view .filler {
	-fx-background-color: -fx-table-main-color;
}

.window-title{
	-fx-background-color: -fx-title-window;	
}

.window-title .label{
	 -fx-text-fill: #fff;	
}

.transactional-button{
	-fx-background-color: -fx-transactional-main-color;
}



.transactional-button:hover{
    -fx-background-color: -fx-transactional-main-color-hover; 
 }


.transactional-button:pressed{
	-fx-background-color: -fx-transactional-main-color-clicked;
}


.form{
	-fx-background-color: white;
}



VirtualKeyBoardLayout {
	 -fx-background-color: -fx-main-color;
	 -fx-effect: dropshadow(two-pass-box , rgb(180, 180, 180), 15, 0.0 , 0, 0);     
	 -fx-border-radius: 10px;
	 -fx-background-radius: 10px;
}


VirtualKeyBoardLayout .button {
	-fx-background-color:  -fx-virtual-keyboard-button-color;
}
VirtualKeyBoardLayout .button:pressed{
	-fx-background-color: -fx-main-color-clicked;
}


VirtualKeyBoardLayout ToggleButton {
	-fx-background-color:  -fx-virtual-keyboard-button-color;
}

VirtualKeyBoardLayout ToggleButton:pressed{
	-fx-background-color: -fx-main-color-clicked;
}
